

const {{pascalCase name}}: React.FC = () => (
  <div className="container">
    <h1 className="text-9xl font-bold text-center">{{pascalCase name}}</h1>
  </div>
)

export default {{pascalCase name}}
